.appMain{
    background-color:#2a2a2a;
    width:800px;
    height:480px;
    color:#ffffff;
}
:global(.contentArea){
    width:760px;
    height:384px;
    margin:auto;
    color:#ffffff;
}


:global(.sectionTitle){
    font-size:18pt;
    padding-top:8px;
    padding-bottom:4px;
}
